In [2]:
import pandas as pd
from datetime import datetime 
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [3]:
#read in the csv
df = pd.read_csv('GameData.csv',error_bad_lines=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 14 columns):
Weekday       6569 non-null object
Date          6569 non-null object
Year          6569 non-null int64
Time          6569 non-null object
Visitor       6569 non-null object
V_PTS         6569 non-null int64
Home          6569 non-null object
H_PTS         6569 non-null int64
Box Score     6569 non-null object
OT            411 non-null object
Attend        6568 non-null float64
              6568 non-null float64
F_City        9 non-null object
 F_Country    9 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 718.6+ KB

In [5]:
df

,Weekday,Date,Year,Time,Visitor,V_PTS,Home,H_PTS,Box Score,OT,Attend,,F_City,F_Country
0,Tue,Oct 30,2012,7:00 pm,Washington Wizards,84,Cleveland Cavaliers,94,Box Score,NaN,20.0,562.0,NaN,NaN
1,Tue,Oct 30,2012,7:30 pm,Dallas Mavericks,99,Los Angeles Lakers,91,Box Score,NaN,18.0,997.0,NaN,NaN
2,Tue,Oct 30,2012,8:00 pm,Boston Celtics,107,Miami Heat,120,Box Score,NaN,20.0,296.0,NaN,NaN
3,Wed,Oct 31,2012,7:00 pm,Sacramento Kings,87,Chicago Bulls,93,Box Score,NaN,21.0,313.0,NaN,NaN
4,Wed,Oct 31,2012,7:30 pm,Houston Rockets,105,Detroit Pistons,96,Box Score,NaN,16.0,646.0,NaN,NaN
5,Wed,Oct 31,2012,7:30 pm,Memphis Grizzlies,92,Los Angeles Clippers,101,Box Score,NaN,19.0,60.0,NaN,NaN
6,Wed,Oct 31,2012,7:00 pm,San Antonio Spurs,99,New Orleans Hornets,95,Box Score,NaN,15.0,358.0,NaN,NaN
7,Wed,Oct 31,2012,7:00 pm,Denver Nuggets,75,Philadelphia 76ers,84,Box Score,NaN,19.0,101.0,NaN,NaN
8,Wed,Oct 31,2012,7:00 pm,Golden State Warriors,87,Phoenix Suns,85,Box Score,NaN,15.0,678.0,NaN,NaN
9,Wed,Oct 31,2012,7:30 pm,Los Angeles Lakers,106,Portland Trail Blazers,116,Box Score,NaN,20.0,401.0,NaN,NaN
10,Wed,Oct 31,2012,7:00 pm,Indiana Pacers,90,Toronto Raptors,88,Box Score,NaN,19.0,800.0,NaN,NaN
11,Wed,Oct 31,2012,7:00 pm,Dallas Mavericks,94,Utah Jazz,113,Box Score,NaN,17.0,634.0,NaN,NaN
12,Thu,Nov 1,2012,8:30 pm,Oklahoma City Thunder,84,San Antonio Spurs,86,Box Score,NaN,18.0,581.0,NaN,NaN
13,Fri,Nov 2,2012,7:30 pm,Houston Rockets,109,Atlanta Hawks,102,Box Score,NaN,18.0,238.0,NaN,NaN
14,Fri,Nov 2,2012,7:30 pm,Milwaukee Bucks,99,Boston Celtics,88,Box Score,NaN,18.0,624.0,NaN,NaN
15,Fri,Nov 2,2012,7:00 pm,Indiana Pacers,89,Charlotte Bobcats,90,Box Score,NaN,19.0,124.0,NaN,NaN
16,Fri,Nov 2,2012,7:30 pm,Chicago Bulls,115,Cleveland Cavaliers,86,Box Score,NaN,20.0,562.0,NaN,NaN
17,Fri,Nov 2,2012,7:30 pm,Memphis Grizzlies,104,Golden State Warriors,94,Box Score,NaN,19.0,596.0,NaN,NaN
18,Fri,Nov 2,2012,7:30 pm,Los Angeles Clippers,105,Los Angeles Lakers,95,Box Score,NaN,18.0,997.0,NaN,NaN
19,Fri,Nov 2,2012,7:00 pm,Sacramento Kings,80,Minnesota Timberwolves,92,Box Score,NaN,19.0,356.0,NaN,NaN
20,Fri,Nov 2,2012,7:00 pm,Utah Jazz,86,New Orleans Hornets,88,Box Score,NaN,14.0,147.0,NaN,NaN
21,Fri,Nov 2,2012,8:00 pm,Miami Heat,84,New York Knicks,104,Box Score,NaN,19.0,33.0,NaN,NaN
22,Fri,Nov 2,2012,7:00 pm,Portland Trail Blazers,92,Oklahoma City Thunder,106,Box Score,NaN,18.0,203.0,NaN,NaN
23,Fri,Nov 2,2012,7:00 pm,Denver Nuggets,89,Orlando Magic,102,Box Score,NaN,18.0,846.0,NaN,NaN
24,Fri,Nov 2,2012,7:00 pm,Detroit Pistons,89,Phoenix Suns,92,Box Score,NaN,15.0,107.0,NaN,NaN
25,Sat,Nov 3,2012,7:30 pm,Toronto Raptors,100,Brooklyn Nets,107,Box Score,NaN,17.0,732.0,NaN,NaN
26,Sat,Nov 3,2012,7:00 pm,New Orleans Hornets,89,Chicago Bulls,82,Box Score,NaN,21.0,758.0,NaN,NaN
27,Sat,Nov 3,2012,7:30 pm,Charlotte Bobcats,99,Dallas Mavericks,126,Box Score,NaN,19.0,490.0,NaN,NaN
28,Sat,Nov 3,2012,7:00 pm,Portland Trail Blazers,95,Houston Rockets,85,Box Score,OT,18.0,140.0,NaN,NaN
29,Sat,Nov 3,2012,7:00 pm,Sacramento Kings,98,Indiana Pacers,106,Box Score,2OT,18.0,165.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6539,Wed,May 3,2017,7:00 pm,Toronto Raptors,103,Cleveland Cavaliers,125,Box Score,NaN,20.0,562.0,NaN,NaN
6540,Wed,May 3,2017,9:30 pm,Houston Rockets,96,San Antonio Spurs,121,Box Score,NaN,18.0,418.0,NaN,NaN
6541,Thu,May 4,2017,10:30 pm,Utah Jazz,104,Golden State Warriors,115,Box Score,NaN,19.0,596.0,NaN,NaN
6542,Thu,May 4,2017,8:00 pm,Boston Celtics,89,Washington Wizards,116,Box Score,NaN,20.0,356.0,NaN,NaN
6543,Fri,May 5,2017,9:30 pm,San Antonio Spurs,103,Houston Rockets,92,Box Score,NaN,18.0,187.0,NaN,NaN
6544,Fri,May 5,2017,7:00 pm,Cleveland Cavaliers,115,Toronto Raptors,94,Box Score,NaN,20.0,384.0,NaN,NaN
6545,Sat,May 6,2017,8:30 pm,Golden State Warriors,102,Utah Jazz,91,Box Score,NaN,19.0,911.0,NaN,NaN
6546,Sun,May 7,2017,9:00 pm,San Antonio Spurs,104,Houston Rockets,125,Box Score,NaN,18.0,55.0,NaN,NaN
6547,Sun,May 7,2017,3:30 pm,Cleveland Cavaliers,109,Toronto Raptors,102,Box Score,NaN,20.0,307.0,NaN,NaN
6548,Sun,May 7,2017,6:30 pm,Boston Celtics,102,Washington Wizards,121,Box Score,NaN,20.0,356.0,NaN,NaN
6549,Mon,May 8,2017,9:00 pm,Golden State Warriors,121,Utah Jazz,95,Box Score,NaN,19.0,911.0,NaN,NaN
6550,Tue,May 9,2017,8:00 pm,Houston Rockets,107,San Antonio Spurs,110,Box Score,OT,18.0,418.0,NaN,NaN
6551,Wed,May 10,2017,8:00 pm,Washington Wizards,101,Boston Celtics,123,Box Score,NaN,18.0,624.0,NaN,NaN
6552,Thu,May 11,2017,8:00 pm,San Antonio Spurs,114,Houston Rockets,75,Box Score,NaN,18.0,55.0,NaN,NaN
6553,Fri,May 12,2017,8:00 pm,Boston Celtics,91,Washington Wizards,92,Box Score,NaN,20.0,356.0,NaN,NaN
6554,Sun,May 14,2017,3:30 pm,San Antonio Spurs,111,Golden State Warriors,113,Box Score,NaN,19.0,596.0,NaN,NaN
6555,Mon,May 15,2017,8:00 pm,Washington Wizards,105,Boston Celtics,115,Box Score,NaN,18.0,624.0,NaN,NaN
6556,Tue,May 16,2017,9:00 pm,San Antonio Spurs,100,Golden State Warriors,136,Box Score,NaN,19.0,596.0,NaN,NaN
6557,Wed,May 17,2017,8:30 pm,Cleveland Cavaliers,117,Boston Celtics,104,Box Score,NaN,18.0,624.0,NaN,NaN
6558,Fri,May 19,2017,8:30 pm,Cleveland Cavaliers,130,Boston Celtics,86,Box Score,NaN,18.0,624.0,NaN,NaN
6559,Sat,May 20,2017,9:00 pm,Golden State Warriors,120,San Antonio Spurs,108,Box Score,NaN,18.0,792.0,NaN,NaN
6560,Sun,May 21,2017,8:30 pm,Boston Celtics,111,Cleveland Cavaliers,108,Box Score,NaN,20.0,562.0,NaN,NaN
6561,Mon,May 22,2017,9:00 pm,Golden State Warriors,129,San Antonio Spurs,115,Box Score,NaN,18.0,466.0,NaN,NaN
6562,Tue,May 23,2017,8:30 pm,Boston Celtics,99,Cleveland Cavaliers,112,Box Score,NaN,20.0,562.0,NaN,NaN
6563,Thu,May 25,2017,8:30 pm,Cleveland Cavaliers,135,Boston Celtics,102,Box Score,NaN,18.0,624.0,NaN,NaN
6564,Thu,Jun 1,2017,9:00 pm,Cleveland Cavaliers,91,Golden State Warriors,113,Box Score,NaN,19.0,596.0,NaN,NaN
6565,Sun,Jun 4,2017,8:00 pm,Cleveland Cavaliers,113,Golden State Warriors,132,Box Score,NaN,19.0,596.0,NaN,NaN
6566,Wed,Jun 7,2017,9:00 pm,Golden State Warriors,118,Cleveland Cavaliers,113,Box Score,NaN,20.0,562.0,NaN,NaN
6567,Fri,Jun 9,2017,9:00 pm,Golden State Warriors,116,Cleveland Cavaliers,137,Box Score,NaN,20.0,562.0,NaN,NaN
6568,Mon,Jun 12,2017,9:00 pm,Cleveland Cavaliers,120,Golden State Warriors,129,Box Score,NaN,19.0,596.0,NaN,NaN

In [6]:
#look at unique team names to
df['Home'].nunique()
#Should only be 30 teams

32

In [7]:
teams = df['Home'].unique().tolist()
sorted(teams)

['Atlanta Hawks',
 'Boston Celtics',
 'Brooklyn Nets',
 'Charlotte Bobcats',
 'Charlotte Hornets',
 'Chicago Bulls',
 'Cleveland Cavaliers',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Detroit Pistons',
 'Golden State Warriors',
 'Houston Rockets',
 'Indiana Pacers',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Memphis Grizzlies',
 'Miami Heat',
 'Milwaukee Bucks',
 'Minnesota Timberwolves',
 'New Orleans Hornets',
 'New Orleans Pelicans',
 'New York Knicks',
 'Oklahoma City Thunder',
 'Orlando Magic',
 'Philadelphia 76ers',
 'Phoenix Suns',
 'Portland Trail Blazers',
 'Sacramento Kings',
 'San Antonio Spurs',
 'Toronto Raptors',
 'Utah Jazz',
 'Washington Wizards']

In [8]:
#Some teams changed their names so need to update past games to current franchise name
df['Home']=df['Home'].replace({'New Orleans Hornets':'New Orleans Pelicans','Charlotte Bobcats':'Charlotte Hornets'});
df['Visitor']=df['Visitor'].replace({'New Orleans Hornets':'New Orleans Pelicans','Charlotte Bobcats':'Charlotte Hornets'});

In [9]:
df['Home'].nunique()

30

In [10]:
#When importing the Attendance number was separated by the comma in the thousands place so need to create new column
df['Attendance'] = df['Attend']*1000 + df[" "]

In [11]:
#convert columns to desired data type
df['Attendance'] = df['Attendance'].fillna(0).astype(int)

In [12]:
#get date all in one column
concat = df['Date'] + ' ' + df['Year'].astype(str) + ' ' + df['Time']
df['Date'] = pd.to_datetime(concat)

In [13]:
#Removing unwanted columns, Notes is still useful for foreign played games
drop_col = ['Box Score','OT','Attend',' ','Weekday','Year','Time']
df = df.drop(drop_col, axis=1)

In [14]:
df.head()

,Date,Visitor,V_PTS,Home,H_PTS,F_City,F_Country,Attendance
0,2012-10-30 19:00:00,Washington Wizards,84,Cleveland Cavaliers,94,NaN,NaN,20562
1,2012-10-30 19:30:00,Dallas Mavericks,99,Los Angeles Lakers,91,NaN,NaN,18997
2,2012-10-30 20:00:00,Boston Celtics,107,Miami Heat,120,NaN,NaN,20296
3,2012-10-31 19:00:00,Sacramento Kings,87,Chicago Bulls,93,NaN,NaN,21313
4,2012-10-31 19:30:00,Houston Rockets,105,Detroit Pistons,96,NaN,NaN,16646

In [15]:
df.head()
#Found Celtics game that had attendence at 0. Actual attendance 17316
#df.iloc[3857]['Attendance'] = 17316
#Error - A value is trying to be set on a copy of a slice from a DataFrame
df.loc[3857,'Attendance'] = 17316

In [16]:
#Add arena info
wiki_arena = 'https://en.wikipedia.org/wiki/List_of_National_Basketball_Association_arenas'
df2 = pd.read_html(wiki_arena,header=0)[0]
df2

,Image,Arena,Location,Team(s),Capacity,Opened,Ref(s)
0,NaN,Air Canada Centre,"Toronto, Ontario",Toronto Raptors,19800.0,1999,[1][2]
1,NaN,American Airlines Arena,"Miami, Florida",Miami Heat,19600.0,1999,[1][3]
2,NaN,American Airlines Center,"Dallas, Texas",Dallas Mavericks,19200.0,2001,[1][4]
3,NaN,Amway Center,"Orlando, Florida",Orlando Magic,18846.0,2010,[1][5]
4,NaN,AT&T Center,"San Antonio, Texas",San Antonio Spurs,18418.0,2002,[1]
5,NaN,Bankers Life Fieldhouse,"Indianapolis, Indiana",Indiana Pacers,17923.0,1999,[1][6]
6,NaN,Barclays Center,"Brooklyn, New York",Brooklyn Nets,17732.0,2012,[1][7]
7,NaN,Capital One Arena,"Washington, D.C.",Washington Wizards,20356.0,1997,[1]
8,NaN,Chesapeake Energy Arena,"Oklahoma City, Oklahoma",Oklahoma City Thunder,18203.0,2002,[1][8]
9,NaN,FedExForum,"Memphis, Tennessee",Memphis Grizzlies,18119.0,2004,[1]
10,NaN,Golden 1 Center,"Sacramento, California",Sacramento Kings,17608.0,2016,[1][9]
11,NaN,Little Caesars Arena,"Detroit, Michigan",Detroit Pistons,20491.0,2017,NaN
12,NaN,Madison Square Garden,"New York, New York",New York Knicks,19812.0,1968 †,[1][10]
13,NaN,Moda Center,"Portland, Oregon",Portland Trail Blazers,19980.0,1995,[1]
14,NaN,Oracle Arena,"Oakland, California",Golden State Warriors,19596.0,1966,[1][11]
15,NaN,Pepsi Center,"Denver, Colorado",Denver Nuggets,19155.0,1999,[1][12]
16,NaN,Philips Arena,"Atlanta, Georgia",Atlanta Hawks,18118.0,1999,[1]
17,NaN,Quicken Loans Arena,"Cleveland, Ohio",Cleveland Cavaliers,20562.0,1994,[1][13]
18,NaN,Smoothie King Center,"New Orleans, Louisiana",New Orleans Pelicans,16867.0,1999,[1][14]
19,NaN,Spectrum Center,"Charlotte, North Carolina",Charlotte Hornets,19077.0,2005,[1]
20,NaN,Staples Center,"Los Angeles, California",Los Angeles Clippers,19060.0,1999,[1][15]
21,Los Angeles Lakers,18997,NaN,NaN,NaN,NaN,NaN
22,NaN,Talking Stick Resort Arena,"Phoenix, Arizona",Phoenix Suns,18422.0,1992,[1]
23,NaN,Target Center,"Minneapolis, Minnesota",Minnesota Timberwolves,19356.0,1990,[1]
24,NaN,TD Garden,"Boston, Massachusetts",Boston Celtics,18624.0,1995,[1][16]
25,NaN,Toyota Center,"Houston, Texas",Houston Rockets,18055.0,2003,[1]
26,NaN,United Center,"Chicago, Illinois",Chicago Bulls,20917.0,1994,[1]
27,NaN,Vivint Smart Home Arena,"Salt Lake City, Utah",Utah Jazz,18303.0,1991,[1][17]
28,NaN,Wells Fargo Center,"Philadelphia, Pennsylvania",Philadelphia 76ers,20328.0,1996,[1]
29,NaN,Wisconsin Entertainment and Sports Center,"Milwaukee, Wisconsin",Milwaukee Bucks,17500.0,2018,[1]

In [17]:
#drop unwanted columns
df2.drop(df2.columns[[0, 6]], axis=1, inplace = True)

In [18]:
#change Team(s) to Home in order to merge with df
df2.rename(columns={'Team(s)': 'Home', 'Opened': 'Yr Arena Opened'}, inplace=True)

In [19]:
#Fix row 22 where LA Lakers info was not read in properly due to html table format
df2.iloc[22] = 'Staples Center','Los Angeles, California','Los Angeles Lakers',18997,1992
#Fix symbol added to madison square yr arena opened to denote renovations
df2.at[13, 'Yr Arena Opened'] = 1968

In [22]:
#Combine both Data Frames
nba = df.merge(df2, on='Home')
#nba.info()

In [23]:
nba.head()

,Date,Visitor,V_PTS,Home,H_PTS,F_City,F_Country,Attendance,Arena,Location,Capacity,Yr Arena Opened
0,2012-10-30 19:00:00,Washington Wizards,84,Cleveland Cavaliers,94,NaN,NaN,20562,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994
1,2012-11-02 19:30:00,Chicago Bulls,115,Cleveland Cavaliers,86,NaN,NaN,20562,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994
2,2012-11-17 19:30:00,Dallas Mavericks,103,Cleveland Cavaliers,95,NaN,NaN,18633,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994
3,2012-11-21 19:00:00,Philadelphia 76ers,83,Cleveland Cavaliers,92,NaN,NaN,16743,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994
4,2012-11-27 19:00:00,Phoenix Suns,91,Cleveland Cavaliers,78,NaN,NaN,13687,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994

In [24]:
#find international NBA games based on notnull values in F_City
nullmask = nba['F_City'].notnull()
non_null_values = nba[nullmask]
#(non_null_values)

In [25]:
#change internatial game arenas
england_game_loc= nba.index[nba['F_City']=='at London'].tolist()
mexico_game_loc=nba.index[nba['F_City']=='at Mexico City'].tolist()
columns = ('Arena','Location','Capacity', 'Yr Arena Opened')
for loc in england_game_loc:
    nba.at[loc, columns] = 'The O2 Arena', 'London, England', 18689, 2007
for loc in mexico_game_loc:
    nba.at[loc,columns] = 'Mexico City Arena', 'Mexico City, Mexico', 22300, 2012
#Drop F_City and F_Country.
del nba['F_City']
#del nba['F_Country']
#F_Country would not delete properly for some reason so had to use this code instead by column index
nba.drop(nba.columns[[5]],axis=1, inplace = True)

In [26]:
#Periods with reg/post seasons labels and dates
season_dates = {
    '2012-13': pd.DatetimeIndex(start='2012-10-30', end = '2013-4-17', freq='D'),
    '2013 Playoffs': pd.DatetimeIndex(start='2012-4-20', end = '2013-6-20', freq='D'),
    '2013-14': pd.DatetimeIndex(start='2013-10-29', end = '2014-4-16', freq='D'),
    '2014 Playoffs': pd.DatetimeIndex(start='2014-4-19', end = '2014-6-15', freq='D'),
    '2014-15': pd.DatetimeIndex(start='2014-10-28', end = '2015-4-15', freq='D'),
    '2015 Playoffs': pd.DatetimeIndex(start='2015-4-18', end = '2015-6-16', freq='D'),
    '2015-16': pd.DatetimeIndex(start='2015-10-27', end = '2016-4-13', freq='D'),
    '2016 Playoffs': pd.DatetimeIndex(start='2016-4-16', end = '2016-6-19', freq='D'),
    '2016-17': pd.DatetimeIndex(start='2016-10-25', end = '2017-4-12', freq='D'),
    '2017 Playoffs': pd.DatetimeIndex(start='2017-4-15', end = '2017-6-12', freq='D')}

In [27]:
#Function to label season column based on game date
def label_season(game_date, season_dates):
    for season, date in season_dates.items():
        if game_date.date() in date:
            return season
    return 'Off Season'

In [28]:
#Create Season Column
nba['Season'] = nba['Date'].apply(lambda x: label_season(x,season_dates))

In [29]:
# of AllStars on team per year
allstar_count= {'Cleveland Cavaliers':[1,1,2,1,3,1,1,2,1,3],
                              'Los Angeles Lakers':[2,1,1,1,0,2,1,1,1,0],
                              'Miami Heat':[3,3,2,2,1,3,3,2,2,1],
                              'Chicago Bulls':[2,1,2,2,1,2,1,2,2,1],
                              'Detroit Pistons':[0,0,0,1,1,0,0,0,1,1],
                              'Los Angeles Clippers':[2,2,2,1,1,2,2,2,1,1],
                              'New Orleans Pelicans':[0,1,1,1,1,0,1,1,1,1],
                              'Philadelphia 76ers':[1,0,0,0,0,1,0,0,0,0],
                              'Phoenix Suns':[0,0,0,0,0,0,0,0,0,0],
                              'Portland Trail Blazers':[1,2,2,0,0,1,2,2,0,0],
                              'Toronto Raptors':[0,1,1,2,2,0,1,1,2,2],
                              'Utah Jazz':[0,0,0,0,1,0,0,0,0,1],
                              'San Antonio Spurs':[2,1,1,2,1,2,1,1,2,1],
                              'Atlanta Hawks':[0,1,4,2,1,0,1,4,2,1],
                              'Boston Celtics':[2,0,1,1,2,2,0,1,1,2],
                              'Charlotte Hornets':[0,0,0,0,1,0,0,0,0,1],
                              'Golden State Warriors':[1,1,2,3,4,1,1,2,3,4],
                              'Minnesota Timberwolves':[0,1,0,0,0,0,1,0,0,0],
                              'New York Knicks':[2,1,1,1,1,2,1,1,1,1],
                              'Oklahoma City Thunder':[2,1,2,2,1,2,1,2,2,1],
                              'Orlando Magic':[0,0,0,0,0,0,0,0,0,0],
                              'Brooklyn Nets':[1,1,0,0,0,1,1,0,0,0],
                              'Dallas Mavericks':[0,1,1,0,0,0,1,1,0,0],
                              'Houston Rockets':[1,2,1,1,1,1,2,1,1,1],
                              'Indiana Pacers':[1,2,0,1,1,1,2,0,1,1],
                              'Milwaukee Bucks':[0,0,0,0,1,0,0,0,0,1],
                              'Washington Wizards':[0,1,1,1,1,0,1,1,1,1],
                              'Memphis Grizzlies':[1,0,1,0,1,1,0,1,0,1],
                              'Sacramento Kings':[0,0,1,1,1,0,0,1,1,1], 
                              'Denver Nuggets':[0,0,0,0,0,0,0,0,0,0]}

allstar_df = pd.DataFrame.from_dict(allstar_count, orient='index')
allstar_df.columns = ['2012-13','2013-14','2014-15','2015-16','2016-17','2013 Playoffs','2014 Playoffs','2015 Playoffs','2016 Playoffs','2017 Playoffs']
allstar_df.reset_index(level=0, inplace=True)
allstar_df.columns = ['Home','2012-13','2013-14','2014-15','2015-16','2016-17','2013 Playoffs','2014 Playoffs','2015 Playoffs','2016 Playoffs','2017 Playoffs']

In [30]:
allstar_df

,Home,2012-13,2013-14,2014-15,2015-16,2016-17,2013 Playoffs,2014 Playoffs,2015 Playoffs,2016 Playoffs,2017 Playoffs
0,Cleveland Cavaliers,1,1,2,1,3,1,1,2,1,3
1,Los Angeles Lakers,2,1,1,1,0,2,1,1,1,0
2,Miami Heat,3,3,2,2,1,3,3,2,2,1
3,Chicago Bulls,2,1,2,2,1,2,1,2,2,1
4,Detroit Pistons,0,0,0,1,1,0,0,0,1,1
5,Los Angeles Clippers,2,2,2,1,1,2,2,2,1,1
6,New Orleans Pelicans,0,1,1,1,1,0,1,1,1,1
7,Philadelphia 76ers,1,0,0,0,0,1,0,0,0,0
8,Phoenix Suns,0,0,0,0,0,0,0,0,0,0
9,Portland Trail Blazers,1,2,2,0,0,1,2,2,0,0
10,Toronto Raptors,0,1,1,2,2,0,1,1,2,2
11,Utah Jazz,0,0,0,0,1,0,0,0,0,1
12,San Antonio Spurs,2,1,1,2,1,2,1,1,2,1
13,Atlanta Hawks,0,1,4,2,1,0,1,4,2,1
14,Boston Celtics,2,0,1,1,2,2,0,1,1,2
15,Charlotte Hornets,0,0,0,0,1,0,0,0,0,1
16,Golden State Warriors,1,1,2,3,4,1,1,2,3,4
17,Minnesota Timberwolves,0,1,0,0,0,0,1,0,0,0
18,New York Knicks,2,1,1,1,1,2,1,1,1,1
19,Oklahoma City Thunder,2,1,2,2,1,2,1,2,2,1
20,Orlando Magic,0,0,0,0,0,0,0,0,0,0
21,Brooklyn Nets,1,1,0,0,0,1,1,0,0,0
22,Dallas Mavericks,0,1,1,0,0,0,1,1,0,0
23,Houston Rockets,1,2,1,1,1,1,2,1,1,1
24,Indiana Pacers,1,2,0,1,1,1,2,0,1,1
25,Milwaukee Bucks,0,0,0,0,1,0,0,0,0,1
26,Washington Wizards,0,1,1,1,1,0,1,1,1,1
27,Memphis Grizzlies,1,0,1,0,1,1,0,1,0,1
28,Sacramento Kings,0,0,1,1,1,0,0,1,1,1
29,Denver Nuggets,0,0,0,0,0,0,0,0,0,0

In [31]:
#melt allstar_df to get allstars column for all seasons
df3 = pd.melt(allstar_df, id_vars='Home', value_vars = allstar_df.columns[allstar_df.columns.str.contains('20')], var_name = 'Season', value_name='H_Allstars')

In [32]:
#Creating NUll rows


#Merge new df with original nba df
df4 = pd.merge(nba, df3, how='left', on=['Home', 'Season'])

In [33]:
# renaming column as required
df3.rename(columns={'Home': 'Visitor', 'H_Allstars': 'V_Allstars'}, inplace=True)
df5 = pd.merge(df4, df3, how='left', on=['Visitor', 'Season'])

In [34]:
#assign back to nba
nba = df5

In [35]:
#Check to make sure there are no rows with Null values
null_data = nba[nba.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [Date, Visitor, V_PTS, Home, H_PTS, Attendance, Arena, Location, Capacity, Yr Arena Opened, Season, H_Allstars, V_Allstars]
Index: []

In [36]:
#Sort games by date and reset index
nba.sort_values('Date',inplace=True)

nba.reset_index(inplace=True, drop=True)

In [37]:
#Add rolling record for each team

#Split into Visiting team df/Create visiting win column/Rename index so we can merge teams
vdf = nba.set_index(['Season', 'Date', 'Visitor'])
vdf['win'] = np.where(vdf['H_PTS'] < vdf['V_PTS'], 1, 0)
vdf.index.names = ['Season', 'Date', 'Team']
#Same as previous for home team
hdf = nba.set_index(['Season', 'Date', 'Home'])
hdf['win'] = np.where(hdf['H_PTS'] > hdf['V_PTS'], 1, 0)
hdf.index.names = ['Season', 'Date', 'Team']

In [38]:
#Merge df back together
df = pd.concat([vdf, hdf])
#loss is inverse of win
df['loss'] = 1 - df.win
df['location'] = np.where(pd.notnull(df['Home']), 'h', 'v')
df = df.sort_index(level=['Date'])
gr = df.groupby(level=['Season', 'Team'])

In [39]:
#Cumulatively sum W/L, shifting will give us record going into game instead of record after game
df['wins'] = gr.win.apply(lambda g: g.shift().cumsum().fillna(0))
df['losses'] = gr.loss.apply(lambda g: g.shift().cumsum().fillna(0))
#print(df[['wins','losses']].sort_index(level=['Team', 'Date']).astype(int))

In [40]:
#Have to split df back up again since Home/Visitor on different rows. Split and rename
vdf = df.dropna(subset=['Home'])[['wins', 'losses']].rename(columns=lambda c: 'V_' + c)
hdf = df.dropna(subset=['Visitor'])[['wins', 'losses']].rename(columns=lambda c: 'H_' + c)
#Merging back into primary df
nba = nba.merge(vdf.astype(int), left_on=['Season', 'Date', 'Visitor'], right_index=True)
nba = nba.merge(hdf.astype(int), left_on=['Season', 'Date', 'Home'], right_index=True)

In [41]:
#Create Win percentage column for possibly graphing purposes later
nba['V_WPercent'] = nba['V_wins']/(nba['V_losses']+nba['V_wins'])
nba['H_WPercent'] = nba['H_wins']/(nba['H_losses']+nba['H_wins'])

In [42]:
#fill NaN values for win percentage to start season
nba = nba.fillna(0)

In [43]:

nba['Percent2Cap'] = nba['Attendance']/nba['Capacity']

In [47]:
#review the data for accuracy
nba[0:1000:25]

,Date,Visitor,V_PTS,Home,H_PTS,Attendance,Arena,Location,Capacity,Yr Arena Opened,Season,H_Allstars,V_Allstars,V_wins,V_losses,H_wins,H_losses,V_WPercent,H_WPercent,Percent2Cap
0,2012-10-30 19:00:00,Washington Wizards,84,Cleveland Cavaliers,94,20562,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994,2012-13,1,0,0,0,0,0,0.000000,0.000000,1.000000
25,2012-11-03 19:00:00,Portland Trail Blazers,95,Houston Rockets,85,18140,Toyota Center,"Houston, Texas",18055.0,2003,2012-13,1,1,1,1,2,0,0.500000,1.000000,1.004708
50,2012-11-07 19:00:00,Philadelphia 76ers,77,New Orleans Pelicans,62,12988,Smoothie King Center,"New Orleans, Louisiana",16867.0,1999,2012-13,0,1,1,2,2,1,0.333333,0.666667,0.770024
75,2012-11-09 20:30:00,Utah Jazz,84,Denver Nuggets,104,15523,Pepsi Center,"Denver, Colorado",19155.0,1999,2012-13,0,0,2,3,2,3,0.400000,0.400000,0.810389
100,2012-11-13 19:00:00,Washington Wizards,76,Charlotte Hornets,92,11139,Spectrum Center,"Charlotte, North Carolina",19077.0,2005,2012-13,0,0,0,5,2,3,0.000000,0.400000,0.583897
125,2012-11-17 18:00:00,Chicago Bulls,80,Los Angeles Clippers,101,19060,Staples Center,"Los Angeles, California",19060.0,1999,2012-13,2,2,4,3,6,2,0.571429,0.750000,1.000000
150,2012-11-21 19:00:00,Los Angeles Lakers,97,Sacramento Kings,113,15249,Golden 1 Center,"Sacramento, California",17608.0,2016,2012-13,0,2,6,5,2,8,0.545455,0.200000,0.866027
175,2012-11-24 19:00:00,Charlotte Hornets,108,Washington Wizards,106,13077,Capital One Arena,"Washington, D.C.",20356.0,1997,2012-13,0,0,6,5,0,10,0.545455,0.000000,0.642415
200,2012-11-28 19:00:00,Portland Trail Blazers,82,Washington Wizards,84,14114,Capital One Arena,"Washington, D.C.",20356.0,1997,2012-13,0,1,6,7,0,12,0.461538,0.000000,0.693358
225,2012-12-01 19:00:00,Utah Jazz,116,Houston Rockets,124,14432,Toyota Center,"Houston, Texas",18055.0,2003,2012-13,1,0,9,8,7,8,0.529412,0.466667,0.799335
250,2012-12-05 19:00:00,Orlando Magic,81,Utah Jazz,87,18078,Vivint Smart Home Arena,"Salt Lake City, Utah",18303.0,1991,2012-13,0,0,7,10,9,10,0.411765,0.473684,0.987707
275,2012-12-08 19:00:00,New York Knicks,85,Chicago Bulls,93,21852,United Center,"Chicago, Illinois",20917.0,1994,2012-13,2,2,14,4,9,8,0.777778,0.529412,1.044700
300,2012-12-12 19:00:00,Cleveland Cavaliers,81,Indiana Pacers,96,11595,Bankers Life Fieldhouse,"Indianapolis, Indiana",17923.0,1999,2012-13,1,1,5,16,10,11,0.238095,0.476190,0.646934
325,2012-12-15 19:00:00,Brooklyn Nets,82,Chicago Bulls,83,21866,United Center,"Chicago, Illinois",20917.0,1994,2012-13,2,1,13,9,11,9,0.590909,0.550000,1.045370
350,2012-12-18 19:30:00,Charlotte Hornets,100,Los Angeles Lakers,101,18997,Staples Center,"Los Angeles, California",18997.0,1992,2012-13,2,0,7,16,11,14,0.304348,0.440000,1.000000
375,2012-12-22 19:00:00,Chicago Bulls,75,Atlanta Hawks,92,17782,Philips Arena,"Atlanta, Georgia",18118.0,1999,2012-13,0,2,14,10,15,9,0.583333,0.625000,0.981455
400,2012-12-26 19:00:00,Cleveland Cavaliers,87,Washington Wizards,84,13846,Capital One Arena,"Washington, D.C.",20356.0,1997,2012-13,0,1,6,22,3,22,0.214286,0.120000,0.680193
425,2012-12-29 19:00:00,Denver Nuggets,72,Memphis Grizzlies,81,17707,FedExForum,"Memphis, Tennessee",18119.0,2004,2012-13,1,0,17,13,18,7,0.566667,0.720000,0.977261
450,2013-01-02 19:00:00,Chicago Bulls,96,Orlando Magic,94,18846,Amway Center,"Orlando, Florida",18846.0,2010,2012-13,0,2,15,13,11,19,0.535714,0.366667,1.000000
475,2013-01-05 19:30:00,Sacramento Kings,93,Brooklyn Nets,113,17732,Barclays Center,"Brooklyn, New York",17732.0,2012,2012-13,1,0,13,19,18,15,0.406250,0.545455,1.000000
500,2013-01-09 19:00:00,Los Angeles Lakers,105,San Antonio Spurs,108,18581,AT&T Center,"San Antonio, Texas",18418.0,2002,2012-13,2,2,15,19,27,10,0.441176,0.729730,1.008850
525,2013-01-12 19:30:00,Utah Jazz,90,Detroit Pistons,87,18441,Little Caesars Arena,"Detroit, Michigan",20491.0,2017,2012-13,0,0,18,18,14,22,0.500000,0.388889,0.899956
550,2013-01-16 19:00:00,Chicago Bulls,107,Toronto Raptors,105,18674,Air Canada Centre,"Toronto, Ontario",19800.0,1999,2012-13,0,2,20,15,14,24,0.571429,0.368421,0.943131
575,2013-01-19 19:00:00,Milwaukee Bucks,110,Portland Trail Blazers,104,20487,Moda Center,"Portland, Oregon",19980.0,1968,2012-13,1,0,19,18,20,18,0.513514,0.526316,1.025375
600,2013-01-23 19:00:00,Los Angeles Lakers,93,Memphis Grizzlies,106,17984,FedExForum,"Memphis, Tennessee",18119.0,2004,2012-13,1,2,17,24,25,13,0.414634,0.657895,0.992549
625,2013-01-26 19:30:00,Golden State Warriors,102,Milwaukee Bucks,109,16937,Wisconsin Entertainment and Sports Center,"Milwaukee, Wisconsin",17500.0,2018,2012-13,0,1,25,16,21,19,0.609756,0.525000,0.967829
650,2013-01-30 19:00:00,Detroit Pistons,79,Indiana Pacers,98,12137,Bankers Life Fieldhouse,"Indianapolis, Indiana",17923.0,1999,2012-13,1,0,17,27,26,19,0.386364,0.577778,0.677175
675,2013-02-02 19:30:00,Oklahoma City Thunder,110,Cleveland Cavaliers,115,20562,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994,2012-13,1,2,34,11,13,33,0.755556,0.282609,1.000000
700,2013-02-06 19:00:00,Indiana Pacers,88,Philadelphia 76ers,69,15299,Wells Fargo Center,"Philadelphia, Pennsylvania",20328.0,1996,2012-13,1,1,30,19,21,25,0.612245,0.456522,0.752607
725,2013-02-09 19:30:00,Denver Nuggets,111,Cleveland Cavaliers,103,20562,Quicken Loans Arena,"Cleveland, Ohio",20562.0,1994,2012-13,1,0,32,17,16,33,0.653061,0.326531,1.000000
750,2013-02-13 19:00:00,Utah Jazz,97,Minnesota Timberwolves,93,13117,Target Center,"Minneapolis, Minnesota",19356.0,1990,2012-13,0,0,28,23,19,30,0.549020,0.387755,0.677671
775,2013-02-20 19:00:00,Detroit Pistons,105,Charlotte Hornets,99,13112,Spectrum Center,"Charlotte, North Carolina",19077.0,2005,2012-13,0,0,21,33,13,39,0.388889,0.250000,0.687320
800,2013-02-23 19:30:00,Indiana Pacers,90,Detroit Pistons,72,17509,Little Caesars Arena,"Detroit, Michigan",20491.0,2017,2012-13,0,1,34,21,22,34,0.618182,0.392857,0.854473
825,2013-02-27 19:00:00,Detroit Pistons,96,Washington Wizards,95,14298,Capital One Arena,"Washington, D.C.",20356.0,1997,2012-13,0,0,22,36,18,37,0.379310,0.327273,0.702397
850,2013-03-03 12:30:00,Oklahoma City Thunder,108,Los Angeles Clippers,104,19371,Staples Center,"Los Angeles, California",19060.0,1999,2012-13,2,2,40,16,42,17,0.714286,0.711864,1.016317
875,2013-03-06 19:30:00,Houston Rockets,108,Dallas Mavericks,112,20344,American Airlines Center,"Dallas, Texas",19200.0,2001,2012-13,0,1,33,28,24,33,0.540984,0.421053,1.059583
900,2013-03-09 19:30:00,Milwaukee Bucks,103,Golden State Warriors,93,19596,Oracle Arena,"Oakland, California",19596.0,1966,2012-13,1,0,29,29,34,28,0.500000,0.548387,1.000000
925,2013-03-13 19:00:00,Phoenix Suns,81,Houston Rockets,111,18132,Toyota Center,"Houston, Texas",18055.0,2003,2012-13,1,0,7,25,34,29,0.218750,0.539683,1.004265
950,2013-03-16 19:30:00,Indiana Pacers,91,Philadelphia 76ers,98,18587,Wells Fargo Center,"Philadelphia, Pennsylvania",20328.0,1996,2012-13,1,1,40,25,24,39,0.615385,0.380952,0.914355
975,2013-03-20 19:00:00,Toronto Raptors,101,Charlotte Hornets,107,12872,Spectrum Center,"Charlotte, North Carolina",19077.0,2005,2012-13,0,0,25,41,15,51,0.378788,0.227273,0.674739

In [45]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6364 entries, 0 to 6363
Data columns (total 20 columns):
Date               6364 non-null datetime64[ns]
Visitor            6364 non-null object
V_PTS              6364 non-null int64
Home               6364 non-null object
H_PTS              6364 non-null int64
Attendance         6364 non-null int64
Arena              6364 non-null object
Location           6364 non-null object
Capacity           6364 non-null float64
Yr Arena Opened    6364 non-null object
Season             6364 non-null object
H_Allstars         6364 non-null int64
V_Allstars         6364 non-null int64
V_wins             6364 non-null int64
V_losses           6364 non-null int64
H_wins             6364 non-null int64
H_losses           6364 non-null int64
V_WPercent         6364 non-null float64
H_WPercent         6364 non-null float64
Percent2Cap        6364 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(9), object(6)
memory usage: 1.0+ MB

In [46]:
#Write copy to CSV
nba.to_csv('NBA_Data.csv', sep=',', encoding='utf-8',index=False, date_format='%Y-%m-%d %H:%M:%S')